* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #403e3e;
}

.fix {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 2rem 4rem !important;
  background-color: #eeee;
  z-index: 9999;
  animation: fix 0.7s ease;
}

a:hover {
  text-decoration: none;
}

.download-arrow i {
  animation: upDown 1s infinite;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes fix {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.boldText {
  font-size: 6rem;
  font-weight: 900;
  color: #403e3e;
}

.fancy-border {
  border-radius: 79% 21% 77% 23% / 72% 22% 78% 28%;
  height: 60rem;
  width: 70rem;
  position: absolute;
  top: 6%;
  right: 6%;
  background-color: #efefefbd;
  -webkit-transform: rotate(41deg);
  transform: rotate(42deg);
}

a.main-btn {
  color: #fff;
  background-color: #f3074a;
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.5rem;
  letter-spacing: 2px;

  &:hover {
    background-color: darken($color: #f3074a, $amount: 5%);
  }
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.upDown {
  animation: upDown 2s infinite;
}

#main-header {
  position: relative;
  margin: 0 4rem;
  font-size: 2rem;
  nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    .underline {
      height: 5px;
      border-radius: 5px;
      background: #403e3e;
      position: absolute;
      top: 40px;
      transition: all 0.5s;
    }
    .links {
      flex: 0.7;
      position: relative;

      ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        li {
          margin-left: 1rem;

          a {
            text-decoration: none;
            color: #403e3e;
            font-weight: 600;
          }
        }
      }
    }
  }

  .header-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 6rem;
      font-weight: 900;
      color: #403e3e;
      margin-bottom: 3rem;
    }
  }

  .header-img {
    box-shadow: 9px 13px 20px #403e3e59;
  }
}

.highlight {
  color: #153e90;
}

#features {
  margin: 0 12rem;

  & > div {
    padding: 10rem 0;
  }
  .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
    border-bottom-right-radius: 3rem;
    border-top-right-radius: 3rem;
    box-shadow: 0px 2px 5px #403e3e59;
    .img-container {
      height: 100%;
      background-color: #fad5ad;
      flex: 0.5;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .text {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 1.5rem;
      flex: 0.5;
      text-align: center;
      font-weight: 600;
      padding-right: 1rem;
    }

    &:hover {
      box-shadow: 0px 2px 5px #fff;
      cursor: pointer;
    }
  }
}

#keyfeatures {
  margin: 10rem 6rem;

  h1 {
    margin-bottom: 6rem;
  }

  .feature {
    display: flex;
    margin-top: 4rem;

    .text {
      margin-left: 2rem;

      h3 {
        font-size: 3.5rem;
        font-weight: 500;
        color: #403e3eec;
      }

      p {
        font-size: 2rem;
        color: #403e3ead;
      }
    }
  }
}

#process {
  margin: 13rem 20rem;

  h3 {
    font-size: 3.5rem;
    font-weight: 600;
    text-align: center;
  }

  .step {
    margin-top: 5rem;
    .img-container {
      border-radius: 500px;

      overflow: hidden;
      padding: 1rem;
      height: 22rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0px 0px 5px #403e3e8f;
      transition: all 0.5s;

      &:hover {
        box-shadow: 1px 1px 10px #403e3eca;
        cursor: pointer;
      }
    }
    p {
      font-size: 2.5rem;
      color: #403e3e;
      font-weight: 400;
      text-align: center;
      margin-top: 1rem;
      line-height: 3rem;
    }

    &:hover p {
      color: #153e90;
    }
  }

  .arrow {
    font-size: 4rem;
    display: flex;
    align-items: center;
  }
}

#live {
  position: relative;
  margin: 10rem 6rem;

  h2 {
    text-align: center;
    margin-bottom: 6rem;
  }

  img.live {
    height: 400px;
  }
  .feature {
    display: flex;
    margin-top: 2rem;
    .text {
      margin-left: 2rem;

      h3 {
        font-size: 3rem;
        font-weight: 500;
        color: #403e3eec;
      }

      p {
        font-size: 1.5rem;
        color: #403e3ead;
      }
    }
  }

  .first {
    h3 {
      font-size: 3rem;
      font-weight: 800;
      text-align: center;
    }
  }
}

#jee {
  overflow: hidden;

  & > div {
    position: relative;
    margin: 10rem 10rem;
  }

  .fancy-border {
    top: -9%;
    right: -10%;
    transform: rotate(28deg);
  }
  .fancy-border2 {
    top: 15%;
    right: -31%;
    background-color: #efefefda;
  }

  h2 {
    position: relative;
    text-align: center;
    margin-bottom: 6rem;
  }
  .text {
    margin-left: 5rem;
    h3 {
      font-size: 3rem;
      font-weight: 800;
    }

    p {
      font-size: 2.2rem;
      color: #403e3ead;
    }
  }

  .main-btn {
    margin-top: 7rem;
  }
}

.owl-dots {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.owl-dot {
  height: 10px;
  width: 10px;
  background-color: #403e3e65 !important;
  border-radius: 100px;
  margin-left: 2.5rem;

  &.active {
    background-color: #153e90 !important;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

#jee.neet {
  .btn-container {
    position: relative;
  }
  .fancy-border {
    left: -10%;
  }
  .fancy-border2 {
    left: 12%;
  }
}

#explore {
  & > div {
    position: relative;
    margin: 0 16rem;
  }

  h2 {
    text-align: center;
  }

  .subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #403e3e8f;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 8rem;
    transform: all 0.6s;

    p {
      font-size: 2rem;
      font-weight: 500;
      color: #153e90;
      margin-top: 2rem;
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 0px 0px 5px #fff;
      cursor: pointer;
    }
  }

  .moreBtn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      color: #f3074a;
      font-size: 2rem;
      margin-top: 3rem;
      display: inline-block;
      &:hover {
        color: darken($color: #f3074a, $amount: 4%);
      }
    }
  }
}

.books {
  & > div {
    margin: 13rem 6rem;
  }

  .text {
    h2 {
      text-align: center;
      margin-bottom: 2.7rem;
    }
    p {
      font-size: 2.2rem;
      color: #403e3ed5;
      text-align: center;
      margin: 0;
    }
  }

  .subject {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px #403e3e8f;
    border-radius: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    transform: all 0.6s;

    p {
      font-size: 2rem;
      font-weight: 500;
      color: #153e90;
      margin-top: 2rem;
      margin-bottom: 0;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 1px 1px 5px #403e3eb9;
    }
  }
}

#boards {
  .subject {
    padding: 2rem 0;
  }
}

#tutors {
  margin: 10rem 8rem;
  position: relative;
  h2 {
    text-align: center;
    margin-bottom: 8rem;
    position: relative;
    z-index: 9;
  }

  .second {
    margin-top: 8rem;
  }

  .quote {
    position: absolute;
    right: 42%;
  }

  .fancy-border {
    top: 60%;
    right: 3%;
  }

  .testimonial-container {
    margin-left: 7rem;
  }
  .testimonial {
    display: flex;
    align-items: center;

    .img-container {
      height: 150px;
      width: 150px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 200px;
      }
    }

    .text {
      flex: 0.9;
      box-shadow: 1px 4px 5px #403e3e4f;
      padding: 1rem 2rem 1rem 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 3rem;
      p {
        font-size: 1.6rem;
        color: #403e3ed5;
        text-align: center;
        margin: 0;
        text-align: left;
      }

      h3 {
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
  }

  .header-img {
    box-shadow: 9px 13px 20px #403e3e59;
  }
}

.owl-carousel-2 {
  margin-bottom: 15rem;
  .owl-nav {
    display: block !important;

    .owl-prev {
      font-size: 6rem !important;
      position: absolute;
      top: 0;
      left: -4%;
      &:focus {
        outline: none;
      }
    }

    .owl-next {
      font-size: 6rem !important;
      position: absolute;
      bottom: 0;
      right: -4%;
      &:focus {
        outline: none;
      }
    }
  }
}

.owl-carousel-3 {
  .owl-nav {
    display: block !important;

    .owl-prev {
      display: none;
    }

    .owl-next {
      font-size: 5rem !important;
      position: absolute;
      bottom: 0;
      right: -4%;
      &:focus {
        outline: none;
      }
    }
  }
}

#download-btn {
  margin-top: 6rem;
  .btn-container {
    a.main-btn {
      border-radius: 10px;
    }
  }
}

//Toggle Btn

#nav-icon1 {
  display: none;

  flex-direction: column;
  justify-content: space-between;

  width: 5.2rem;
  height: 3.8rem;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  height: 6px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 18px;
}

#nav-icon1 span:nth-child(3) {
  top: 36px;
}

#nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  position: absolute;
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  position: absolute;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.52);
  z-index: 9;
}

.backdrop.open {
  display: block;
}

.sideNavbar {
  position: fixed;
  transform: translateX(-100%);
  transition: all 0.5s;
  top: 0;
  left: 0;
  height: 100%;
  width: 60vw;
  background-color: #efefefe7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  z-index: 99;

  ul {
    list-style: none;

    li {
      margin-top: 3rem;
    }
    a {
      color: #f3074a;
    }
  }
}

.sideNavbar.open {
  transform: translateX(0);
}
